@-moz-viewport { width: device-width; scale: 1; }
@-ms-viewport { width: device-width; scale: 1; }
@-o-viewport { width: device-width; scale: 1; }
@-webkit-viewport { width: device-width; scale: 1; }
@viewport { width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font: normal 100%/1.5 Noto Sans, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
}

header {
  background-color: #e5c30a;
  color: #fff;
  margin: 0;
  padding: 0;
}

header h2 {
  text-align: left;
  color: #000;
  display: block;
  padding: 1.3rem;
  margin: 0 auto;
}

header p {
  text-align: left;
  color: #000;
  display: block;
  padding: 1.3rem;
  margin: 0 auto;
}
